@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    @apply transition-colors duration-200;
}

h1,
h2,
h3 {
    font-weight: bold;
    line-height: 1.7em;
    margin-top: 1em;
    margin-bottom: 0.7em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
    font-weight: 600;
}

h5 {
    font-size: 1.2em;
    font-weight: 500;
}

h6 {
    font-size: 1.1em;
    font-weight: 500;
}

p {
    font-size: 1.1em;
    font-weight: 300;
}

/* Post Details */
.content a {
    font-style: italic;
}
.content a:hover {
    color: #43A047;
}

.card_title a {
    text-transform: capitalize;
}

#table-of-contents {
    background-color: #f0f0f0;
    padding: 16px 20px;
    margin: 20px 0;
}

#table-of-contents a {
    color: #444 !important;
    font-size: 1.1em;
    text-decoration: none !important;
}

#table-of-contents a:hover {
    color: #43A047 !important;
    transition: 300ms linear !important;
}

/* Affiliate link */
.my-affiliate-link-class {
    padding: 14px 32px;
    border: 1px solid #444;
    text-decoration: none !important;
    color: inherit;
    transition: 0.2s ease-out all;
    margin-bottom: 10px;
    display: inline-block;
}

.my-affiliate-link-class:hover {
    border: 1px solid #43A047;
    background-color: #43A047;
    color: white;
}

/* Reference links */
#references {
    font-size: 0.65rem;
    margin: 20px 0;
}

/* FAQs */
.sp-ea-single {
    background-color: #EEEEEE;
}

.ea-header {
    padding-left: 16px;
}

.ea-body {
    background-color: #FFFFFF;
    padding-left: 16px;
}